@font-face {
    font-family: "Kanit";
    src: url(font/Kanit-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Kanit";
    src: url(font/Kanit-Regular.ttf);
    font-weight: 400;
}

:root{
    --bg-color: #e1f5df;
    --accent-color: #f0f5f0;
    --highlight-color: #d1ded1;
    --base-color: white;
    --font-color: black;
    --box-len: 90vw;
    --intro-box: 90vw;
    --proj-box: 95vw;
}
html{
    min-height: 100%;
    color: var(--font-color, black);
    background-color: var(--base-color, white);
}

body {
    min-height: 100%;
    color: var(--font-color, black);
    background-color: var(--base-color, white);
    font-family: "Kanit", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    margin: 0;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--accent-color, #f0f5f0);
}

nav > a{
    padding: 1em;
    text-decoration: none;
    border: none;
    color: black;
    color: var(--font-color, black);
}

nav > button {
    border: none;
    border-radius: 5px;
    margin: .5rem;
    margin-left: auto;
    background-color: var(--highlight-color);
}

.lmode {
    height: 1.5rem;
    color: var(--font-color);
}


a:hover{
    background-color: var(--highlight-color, #d1ded1);   
}

div.introbox{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 10px;
}
.introbox > img {
    width: 90vw;
    height: auto;
    clip-path: circle(38%);
}
.introbox > p{
    width: var(--intro-box);
}

section.abt-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#experience {
    background-color: var(--bg-color, #d1ded1);
}

section.abt-section > hgroup{
    width: var(--box-len, 95vw);
    margin: 1rem;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--bg-color, #d1ded1);
}

#skills > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 1em;
}

#skills > li{
    display: block;
    padding: 1em;
    margin: 1em;
}

main.contact {
    padding: 1rem;
}

h1.proj-header, h1.con-header {
    margin: 0;
    padding: 1rem;
}

section.proj-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

section.proj-section > hgroup{
    background-color: var(--bg-color, #d1ded1);
    width: var(--proj-box, 50vw);
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.preview {
    width: 30vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#bttn-container {
    width: fit-content;
    display: block;
    margin: auto;
}

#llocal, #lremote {
    border: none;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    height: 3em;
    margin: 1rem 1rem 0rem 1rem;
    color: var(--font-color);
    background-color: var(--accent-color);
    
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem 2rem;
}

art-card {
    display: block;
    background-color: var(--bg-color);
    margin: 1.5rem; 
    padding: 1rem;
    border-radius: 15px;
}

art-card > a {
    display: block;
}

.artLink, .artName {
    color: var(--font-color);
}

.imgdes, .imgtab, .imgmob {
    border-radius: 10px;
}


.imgdes, .imgtab, .imgmob {
    border-radius: 10px;
    max-width: 90vw;
}

form {
    background-color: var(--bg-color, #d1ded1);
    padding: 2em;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

label > input, textarea{
    display: block;
    margin-top: 1em;
    border-style: none;
    border-radius: 5px;
    background-color: var(--base-color, white);
    color: var(--font-color, black);
}

textarea{
    width: 100%;
}

input[type="submit"] {
    margin-top: 1em;
    background-color: var(--accent-color, #f0f5f0);
    border-radius: 5px;
    border-style: none;
    width: 40%;
    color: var(--font-color);
}

output{
    margin-top: 1rem;
}

em {
    font-style: normal;
    color: #ed6a53;
}

#errmsg {
    color: #ed6a53;
}



