@font-face {
    font-family: "Kanit";
    src: url(font/Kanit-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Kanit";
    src: url(font/Kanit-Regular.ttf);
    font-weight: 400;
}

:root{
    --bg-color: color-mix(in hsl, hsl(145, 46%, 70%), white 50%);
    --accent-color: color(srgb 0.941 0.960 .941);
    --highlight-color: #d1ded1;
    --base-color: white;
    --font-color: black;
}
/*tablet*/
@media only screen and (min-width: 901px){
    :root{
        --box-len: 75vw;
        --intro-box: 80vw;
        --proj-box: 50vw;
    }
}
/*desktop*/
@media only screen and (min-width: 1500px){
    :root{
        --box-len: 50vw;
        --intro-box: 70vw;
        --proj-box: 30vw;
    }
}
html{
    min-height: 100%;
    color: var(--font-color, black);
    background-color: var(--base-color, white);
}
body {
    min-height: 100%;
    font-family: "Kanit", sans-serif;
    margin: 0;
    color: var(--font-color, black);
    background-color: var(--base-color, white);
}
main {
    background-color: var(--base-color, white);
    
}
@keyframes skew {
    0% {
      transform: skewX(10deg);
    }
    100% {
      transform: skewX(-10deg);
    }
  }
h1{
    animation: skew 3s;
}

header {
    margin: 0;
    background-color: var(--bg-color, #e1f5df);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--accent-color, #f0f5f0);
}

nav > a{
    padding: 1em;
    text-decoration: none;
    border: none;
    color: var(--font-color, black);
}
nav > button {
    border: none;
    border-radius: 5px;
    margin: .5rem;
    margin-left: auto;
    background-color: var(--highlight-color);
}

.lmode {
    height: 1.5rem;
    color: var(--font-color);
}

a:hover{
    background-color: var(--highlight-color, #d1ded1);   
}

div:has(+img){
    height: 400px;
    margin: 1rem;
    padding: 10px;
}
.introbox > img {
    float: left;
    clip-path: circle(40%);
    shape-outside: circle(45%);
}
.introbox > p{
    width: var(--intro-box);
}

br {
    clear: left;
}

section.abt-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#education {
    background-image: url(images/bg-image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#experience {
    background-color: var(--bg-color, #e1f5df);
}

#skills {
    background-image: url(images/bg-image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.abt-section > hgroup{
    width: var(--box-len, 95vw);
    margin: 1rem;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--base-color, white);
}

#skills > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
}

#skills > li{
    display: block;
    padding: 1em;
    margin: 1em;
}

main.contact {
    padding: 5rem;
}

h1.proj-header, h1.con-header {
    margin: 0;
    padding: 1rem;
}

section.proj-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

section.proj-section > hgroup{
    background-color: var(--bg-color, #e1f5df);
    width: var(--proj-box, 50vw);
    
    padding: 1em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.preview {
    width: 30vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#bttn-container {
    width: fit-content;
    display: block;
    margin: auto;
}

#llocal, #lremote {
    border: none;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
    font-size: 1rem;
    height: 3em;
    margin: 1rem 1rem 0rem 1rem;
    color: var(--font-color);
    background-color: var(--accent-color);
    
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem 2rem;
}

art-card {
    display: block;
    background-color: var(--bg-color);
    margin: 1.5rem; 
    padding: 1rem;
    border-radius: 15px;
}

art-card > a {
    display: block;
}

.artLink, .artName {
    color: var(--font-color);
}

.imgdes, .imgtab, .imgmob {
    border-radius: 10px;
}




form {
    background-color: var(--bg-color, #e1f5df);
    padding: 2em;
    border-radius: 15px;
    display: grid;
    margin: auto;
    width: var(--box-len);
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
label.a {
    grid-column: 1 / span 1;
}
label.b {
    grid-column: 2 / span 1;
}
label.c, output {
    grid-column: 1 / span 2;
}

label > input, textarea{
    margin-top: 1rem;
    display: block;
    border-style: none;
    border-radius: 5px;
    width: 80%;
    background-color: var(--base-color, white);
    color: var(--font-color, black);
}
textarea{
    width: 100%;
}

input[type="submit"] {
    grid-column: 1 / span 1;
    background-color: var(--accent-color, #f0f5f0);
    border-radius: 5px;
    border-style: none;
    width: 40%;
    color: var(--font-color);
}

output{
    margin-top: 0rem;
}

em {
    font-style: normal;
    color: #ed6a53;
}

#errmsg {
    color: #ed6a53;
}





